*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: rgb(89, 104, 61);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.card{
    width: 250px;
    height: 300px;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 1rem;
    text-align: center;
}
.card img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.card h1{
    font-size: 15px;
}
.card p{
    font-weight: 400;
    font-size: 14px;
    color: rgb(92, 90, 90);
    text-transform: capitalize;
}